body {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Шапка */
.logotype {
  position: absolute;
  top: 0;
  left: 776px;
}

.main-navigation {
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding-left: 0;
}

.main-navigation li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 242px;
  padding-top: 30px;
  line-height: 26px;
}

ul li.third-child {
  margin-left: 221px;
}

a {
  text-decoration: none;
  color: black;
}

/*Основное содержание главное страницы*/
.sedona-town-container {
  padding-top: 70px;
  text-align: center;
}

.sedona-town-text {
  font-size: 21px;
  line-height: 26px;
}

p {
  font-weight: normal;
}

.bridge,
.real-city {
  color: white;
}

.real-city,
.bridge {
  display: flex;
  justify-content: flex-start;
}

.real-city-left-column,
.bridge-right-column {
  vertical-align: top;
  height: 256px;
  width: 34%;
  background-color: #81b3d2;
}

.attraction {
  color: white;
  font-size: 21px;
}

.image-real-city,
.image-bridge {
  width: 66%;
  height: 256px;
  overflow: hidden;
}

.advantage {
  background-color: #eeeeee;
  height: 330px;
}

.home,
.food,
.souvenirs {
  text-align: center;
  display: inline-block;
  width: 33%;
}

.vantage {
  font-size: 21px;
}

.road,
.tourist,
.area {
  text-align: center;
  display: inline-block;
  width: 33%;
}

/*Поиск гостиницы в Седоне*/
.search-hotel {
  text-align: center;
  height: 291px;
}

.look {
  font-size: 30px;
  line-height: 24px;
}

/*Подвал*/
.footer-container {
  display: flex;
  justify-content: space-around;
  height: 120px;
}

.visit,
.footer-social,
.copyright {
  width: 400px;
  text-align: center;
}


