body {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Шапка */
.logotype {
  position: absolute;
  top: 0;
  left: 533px;
}

.main-header {
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding-left: 0;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 242px;
  padding-top: 30px;
  line-height: 26px;
  font-size: 14px;
}

ul li.third-child {
  margin-left: 221px;
}

a {
  text-decoration: none;
  color: black;
}

/*Основное содержание главное страницы*/
.sedona-town-container {
  padding-top: 70px;
  text-align: center;
}

.sedona-town-text {
  font-size: 21px;
  line-height: 26px;
}

p {
  font-weight: normal;
}

.bridge,
.real-city {
  color: white;
}

.real-city,
.bridge {
  display: flex;
  justify-content: flex-start;
}

.real-city-left-column,
.bridge-right-column {
  vertical-align: top;
  height: 256px;
  width: 34%;
  background-color: #81b3d2;
}

.attraction {
  color: white;
  font-size: 21px;
}

.image-real-city,
.image-bridge {
  width: 66%;
  height: 256px;
  overflow: hidden;
}

.advantage1 {
  height: 330px;
  font-size: 0;
}

.advantage2 {
  background-color: #eeeeee;
  height: 330px;
  font-size: 0;
}

.home,
.food,
.souvenirs {
  text-align: center;
  display: inline-block;
  width: 33.33333%;
  font-size: 14px;
}

.vantage {
  font-size: 21px;
}

.road,
.tourist,
.area {
  text-align: center;
  display: inline-block;
  width: 33.33333%;
  font-size: 14px;
}

/*Поиск гостиницы в Седоне*/
.search-hotel {
  text-align: center;
  height: 291px;
}

.look {
  font-size: 30px;
  line-height: 24px;
}

/*Внутренняя страница*/
fieldset {
  display: inline-block;
  border: none;
  font-size: 0;
}

legend {
  font-size: 16px;
  font-weight: bold;
}

label {
  font-size: 14px;
  font-weight: normal;
}

.sorter {
  background-image: url(../img/filter-background.jpg);
  color: white;
  display: inline-block;
  width: 100%;
}

.sorter-hotel-right-column {
  float: right;
  width: 388px;
}

.sorter-hotel-left-column {
  float: left;
  width: 330px;
  padding-top: 74px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

input {
  display: block;
}

.sorter3 {
  font-size: 0;
}

.sorter3 li {
  font-size: 12px;
}

.sorter3 h2, .sorter3 ul, .sorter3 li {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Гостиницы*/

.hotel1 {
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}

.hotel2, .hotel3 {
  border-bottom: 2px solid #e5e5e5;
}

.hotel-image {
  display: inline-block;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.hotel-discription {
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  padding-bottom: 37px;
  padding-left: 22px;
  font-size: 0;
}

.discription-text {
  font-size: 14px;
}

.stars-rating {
  display: inline-block;
  width: 109px;
  padding-left: 630px;
}

/*Подвал*/
.footer-container {
  display: flex;
  justify-content: space-around;
  height: 120px;
}

.visit,
.footer-social,
.copyright {
  width: 400px;
  text-align: center;
}

.visit {
  font-size: 21px;
  font-weight: bold;
}

